.cards-row-container {
    display: flex;
    justify-content: stretch;
    width: 100%;
}
.card {
    display: inline-block;
    box-sizing: border-box;

    width: 32%;
    height: 200px;
    border: 1px solid black;
    margin: 0.5em;
}

.card__hover-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.card__hover-container:hover {
    opacity: 1;
}

.card__hover-container--main {
    display: flex;
    flex-direction: column;
}

.card__hover-container--footer {
    display: flex;
    justify-content: space-between;
}